.Shop {
  padding: 150px 150px 0 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 40px;
}

.Shop .shop-item {
  padding: 40px;
  background-color: #a38926;
  border-radius: 5px;
  display: grid;
  align-items: center;
  text-decoration: none !important;
  transition: all ease-in-out 0.3s;
}

.Shop .shop-item:hover {
  transform: scale(1.05);
}

.Shop .shop-item img {
  height: 200px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Shop .shop-item p {
  color: #1a1a1a;
  font-size: 25px;
  padding-top: 15px;
}

.Shop .shop-item .item-name {
  text-decoration: none !important;
  color: #1a1a1a;
  padding-bottom: 10px;
}
