@import "../../colors&fonts.scss";

.Shop {
  padding: 150px 150px 0 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 40px;

  .shop-item {
    padding: 40px;
    background-color: $yellowish;
    border-radius: 5px;
    display: grid;
    align-items: center;
    text-decoration: none !important;
    transition: all ease-in-out 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    img {
      height: 200px;
      border-radius: 5px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      color: $true-black;
      font-size: 25px;
      padding-top: 15px;
    }

    .item-name {
      text-decoration: none !important;
      color: $true-black;
      padding-bottom: 10px;
    }
  }
}
