.home {
  overflow: hidden;
  position: fixed;
  padding: 0 25vw 0 25vw;
  height: 110vh;
  width: 100%;
}

.home::after {
  content: "";
  background: url(../../images/home1.jpg);
  background-position: top;
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.title {
  text-transform: uppercase;
  font-family: "Jaapokki-enchance";
  font-size: 6.5rem;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 1.8em;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.title span {
  font-family: "Jaapokki-subtract";
  color: #f5f5f5;
}

.desc {
  font-size: 2rem;
  font-family: "Jaapokki-subtract";
  color: #f5f5f5;
  margin-bottom: 2em;
  padding: 0 5vw 0 5vw;
  letter-spacing: 3px;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.homebutton {
  background-color: #a38926;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.homebutton:hover {
  transform: scale(1.05);
}

.homebutton p {
  margin: 15px;
  padding-top: 7px;
  font-size: 3rem;
  font-family: "Jaapokki-subtract";
  text-transform: uppercase;
  color: #353535;
}

.rFade {
  animation-name: rightFadeIn;
}

.lFade {
  animation-name: leftFadeIn;
}

@keyframes rightFadeIn {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes leftFadeIn {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
