// ===================
// Font and color variables
// ===================

// Fonts
$jaapokki-regular: "Jaapokki-regular";
$jaapokki-enchance: "Jaapokki-enchance";
$jaapokki-subtract: "Jaapokki-subtract";
$raleway: "Raleway", sans-serif;
$regular: 400;
$bold: 800;

// Colors
$true-black: #1a1a1a;
$black: #353535;
$lighter-black: #464646;
$gray: #4f4f4f;
$white: #f5f5f5;
$medium-gray: #919191;
$light-gray: #c4c4c4;
$yellowish: #a38926;

$linkedin-blue: #2867b2;
$github-gray: #24292e;
